body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 225, 238)
}
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
height: 60%;
width: 20%;
border-radius: 20px;
background-color: white;
}

.imageContainer{
    margin-top: 5%;
height: 60%;
width: 90%;
border-radius: 20px;
}

img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.contentContainer{
    margin: 5%;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    border-radius: 20px;
}
.topContent{
    display: flex;
font-weight: 700;
 height: 50%;
   font-size: 22px;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.bottomContent{
    display: flex;
    color: grey;
    height: 50%;  
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

@media (max-width: 320px){
    .cardContainer{
        height: 90%;
        width: 90%;
    }
  .topContent{
    font-size: 10px;
  }
  .bottomContent{
    font-size: 5px;
  }
}

@media (max-width: 428px){
    .cardContainer{
        height: 90%;
        width: 90%;
    }
  .topContent{
    font-size: 15px;
  }
  .bottomContent{
    font-size: 10px;
  }
}



@media (max-width: 884px) {
    .cardContainer{
        height: 60%;
        width: 40%;
    }
  }